@import "../../../../../assets/constants/variables";
@import "../../../../../assets/constants/mixin";

.test {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.testBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.447);
    flex: 1 1 auto;
}

.delete {
    width: 220px;
    border-radius: 8px;
    padding: 10px 0;
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    background-color: #FF4F52;

    @media (hover) {
        &:hover {
            box-shadow: 0 0 20px rgba(255, 79, 82, 0.54);
        }
    }
}

.buttonBox {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
}

.image {
    width: 100px;
    height: 100px;
}

.content {
    flex: 1 1 auto;
}

.labelBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.box {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.label {
    font-weight: 400;
    color: $base;
    @include adaptive-font(13, 16);
}

.value {
    font-weight: 600;
    color: $bold;
    @include adaptive-font(13, 16);
}

.button {
    font-size: 16px;
    padding: 10px 25px;
    background-color: #4592FF;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 7px; 
    align-self: flex-start;

    @media (hover) {
        &:hover {
            box-shadow: 0 0 20px #4593ff81;
        }
    }
}

.titleModal {
    @include adaptive-font(14, 17);
    font-weight: 600;
    color: $bold;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.modalBox {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.boxTitle {
    color: $bold;
    font-weight: 600;
    @include adaptive-font(16, 20);
    text-align: center;
    line-height: 130%;
}

.boxParagraph {
    color: $base;
    font-weight: 400;
    @include adaptive-font(13, 15);
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    justify-content: center;
}

.buttonModal {
    flex: 0 1 35%;
    border-radius: 8px;
    padding: 10px 0;
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
}

.yes {
    background-color: #FF4F52;

    @media (hover) {
        &:hover {
            box-shadow: 0 0 20px #ff4f528b;
        }
    }
}

.no {
    background-color: #4592FF;

    @media (hover) {
        &:hover {
            box-shadow: 0 0 20px #4593ff81;
        }
    }
}

@media screen and (max-width: 615px) {
    .buttonBox {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}