.link {
    width: 60px;
    height: 60px;
    background-color: #4592FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 15px;
    bottom: 15px;
    cursor: pointer;
}

.link::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(/images/other/test.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}