@import "../../../../../assets/constants/variables";
@import "../../../../../assets/constants/mixin";

.error {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s;
    opacity: 0;
}

.active {
    opacity: 1;
    z-index: 1;
    transform: translateY(-20px);
}

.image {
    width: 15px;
    height: 15px;
}

.message {
    @include adaptive-font(10, 12);
    font-weight: 600;
    color: $red;
}