@import "../../../../../../assets/constants/mixin";

.error {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.image {
    width: 12px;
    height: 12px;
}

.text {
    color: #FF4F52;
    font-weight: 400;
    @include adaptive-font(12, 15);
}