@import "../../../../../assets/constants/variables";
@import "../../../../../assets/constants/mixin";

.queston {
    border: 1px solid rgba(0, 0, 0, 0.548);
    padding: 20px;
    border-radius: 5px;
}

.questionWrapper {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.questionTitle {
    @include adaptive-font(15, 20);
    font-weight: 600;
    color: $bold;
}

.inputField {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    font-weight: 400;
    color: $bold;
    @include adaptive-font(12, 15);
}

.textArea {
    padding: 15px;
    border: 1px solid #D9DADB;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    color: #262D33;
    min-height: 100px;
}

.buttonDelete {
    border-radius: 8px;
    padding: 10px 25px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    background-color: #FF4F52;

    @media (hover) {
        &:hover {
            box-shadow: 0 0 20px rgba(255, 79, 82, 0.264);
        }
    }
}

.titleBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.titleAnswersBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.answersButton {
    font-size: 16px;
    padding: 10px 25px;
    background-color: #4592FF;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 7px; 

    @media (hover) {
        &:hover {
            box-shadow: 0 0 20px #4593ff81;
        }
    }
}

.titleAnswers {
    @include adaptive-font(15, 20);
    font-weight: 600;
    color: $bold;
}

.empty {
    text-align: center;
    font-weight: 600;
    color: $bold;
    @include adaptive-font(15, 20);
    border: 1px solid black;
    margin-top: 20px;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .titleBox {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .titleAnswersBox {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
}