@import "../../../../assets/constants/variables";

.search {
    position: relative;
    flex: 1 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.image {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.3s;

    @media (hover) {
        &:hover {
            transform: rotate(-10deg);
        }
    }
}

.input {
    font-size: 14px;
    color: $base;
    font-weight: 400;
    outline: none;
    width: 100%;

}