.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 20px;
    align-items: flex-start;
    border-bottom: 1px solid black;
    border-radius: 10px 10px 0 0;
    position: sticky;
    top: 0;
    z-index: 3;
}

.file {
    display: none;
}

.label {
    width: 25px;
    height: 25px;
    background-image: url(/images/svg/image.svg);
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.box {
    display: flex;
    gap: 15px;
    align-items: center;
}