@import "../../../../assets/constants/variables";

.popular {
    position: relative;
}

.container {
    height: 475px;
    background-color: $bold;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}

.content {
    position: relative;
    top: 20px;
}

@media screen and (max-width: 1200px) {
    .container {
        display: none;
    }

    .popular {
        background-color: $bold;
        padding: 50px 0;
    }

    .content {
        position: static;
        top: 0;
    }
}