@import "../../../../assets/constants/variables";

.popular {
    position: relative;
}

.container {
    height: 475px;
    background-color: $bold;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}

.content {
    position: relative;
    top: 20px;
}