@import "../../../../../../assets/constants/variables";
@import "../../../../../../assets/constants/mixin";

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    gap: 20px;
    border-radius: 8px;
}

.image {
    max-width: 100%;
}

.title {
    text-align: center;
    @include adaptive-font(15, 30);
    color: $bold;
    margin-top: 25px;
}

.area {
    padding: 15px;
    border: 1px solid #D9DADB;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    color: $bold;
    min-height: 100px;
}

.files {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.file {
    display: none;
}

.label {
    width: 25px;
    height: 25px;
    background-image: url(/images/svg/image.svg);
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.paragraph {
    font-size: 14px;
    color: $bold;
    font-weight: 400;
    text-align: center;
}

.container {
    position: relative;
    overflow-y: auto;
    height: 100%;
}

.container::-webkit-scrollbar {
    background-color: #4593ff3f;
    border-radius: 8px;
    width: 4px;
    box-shadow: 0 0 20px #4593ff29;
}

.container::-webkit-scrollbar-thumb {
    background-color: #4592FF;
    border-radius: 8px;
}

.sideBar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 40%;
    height: 100vh;
    transform: translateX(-100%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.296);
    transition: 0.4s;
}

.sideActive {
    transform: translateX(0);
}

.button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.307);
    cursor: pointer;
    transition: 0.4s;
    z-index: 10;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        background-image: url(/images/svg/right-arrow.svg);
        background-position: center;
        background-size: contain;
        width: 20px;
        height: 20px;
    }
}

.activeButton {
    transform: translateY(-50%) translateX(50%) rotate(180deg);
}

@media screen and (max-width: 1000px) {
    .sideBar {
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
    .sideBar {
        width: 95%;
    }
}