.public-DraftStyleDefault-pre {
    background-color: rgba(0,0,0,.05);
    font-size: 16px;
    padding: 20px;
}

.DraftEditor-root {
    background-color: white;
    padding: 20px;
    min-height: 300px;
    border-radius: 0 0 10px 10px;
}

pre[data-block] {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.577);
    border-radius: 7px;
}

blockquote[data-block] {
    border-left: 5px solid #eee;
    color: #666;
    font-family: Hoefler Text,Georgia,serif;
    font-style: italic;
    padding: 10px 20px;
}

.public-DraftEditorPlaceholder-hasFocus {

    .public-DraftEditorPlaceholder-inner {
        display: none;
    }
}

.public-DraftStyleDefault-ltr {
    text-align: justify;
    line-height: 200%;
}

.public-DraftStyleDefault-depth0.public-DraftStyleDefault-reset,
.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR {

    &::before {
        display: none;

    }
}

.public-DraftStyleDefault-orderedListItem {
    list-style-type: inherit;
}

.public-DraftEditorPlaceholder-root {
    width: auto;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 2em;
}