@import "../../../../assets/constants/variables";
@import "../../../../assets/constants/mixin";

.test {
    width: 100%;
    margin-top: 30px;
}

.content {
    display: flex;
    gap: 20px;
    width: 100%;
}

.sideBar {
    flex: 0 1 300px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.title {
    color: $bold;
    font-weight: 600;
    @include adaptive-font(17, 21);
}

.boxQuestions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.currentQuestion {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1 1 auto;
}

.header {
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.number {
    font-weight: 400;
    color: $bold;
    @include adaptive-font(14, 16);
}

.questionTitle {
    font-weight: 600;
    color: $bold;
    @include adaptive-font(16, 18);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
}

.mainTitle {
    font-weight: 600;
    color: $bold;
    @include adaptive-font(14, 16);
}

.answers {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.button {
    font-size: 16px;
    padding: 10px 25px;
    background-color: #4592FF;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 7px; 
    align-self: flex-end;

    @media (hover) {
        &:hover {
            box-shadow: 0 0 20px #4593ff81;
        }
    }
}

.boxAnswers {
    padding: 20px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.text {
    font-weight: 600;
    color: $bold;
    @include adaptive-font(13, 16);
}

.count {
    font-weight: 400;
    color: $bold;
    @include adaptive-font(12, 15);
}

.end {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    flex: 1 1 auto;
    justify-content: center;
}

.sub {
    font-weight: 400;
    color: $bold;
    margin-top: 15px;
    @include adaptive-font(14, 17);
}

.endTitle {
    font-weight: 600;
    color: $bold;
    @include adaptive-font(25, 35);
}

.buttonEnd {
    font-size: 16px;
    padding: 10px 25px;
    background-color: #4592FF;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 7px; 
    margin-top: 15px;

    @media (hover) {
        &:hover {
            box-shadow: 0 0 20px #4593ff81;
        }
    }
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.modalTitle {
    font-weight: 600;
    color: $bold;
    @include adaptive-font(15, 20);
}

.modalButton {
    font-size: 16px;
    padding: 10px 25px;
    background-color: #4592FF;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 7px; 
    align-self: flex-start;

    @media (hover) {
        &:hover {
            box-shadow: 0 0 20px #4593ff81;
        }
    }
}

@media screen and (max-width: 900px) {
    .content {
        flex-direction: column-reverse;
    }

    .boxQuestions {
        flex-direction: row;
        overflow: auto;
        max-width: 100%;
    }

    .sideBar {
        flex: 0 1 auto;
    }

    .endTitle {
        text-align: center;
    }
}