.button {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    background-color: #4592FF;;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        width: 25px;
        height: 25px;
        background-image: url(/images/svg/right-arrow.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        filter: invert(1) sepia(0) saturate(10000%) hue-rotate(0deg);
    }
}