@import "../../../../assets/constants/variables";
@import "../../../../assets/constants/mixin";

.main {
    width: 100%;
    margin-top: 30px;
    flex: 1 1 auto;
}

.content {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: column;
}

.title {
    font-weight: 600;
    color: $bold;
    text-align: center;
    @include adaptive-font(20, 30);
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.boxOne {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

@media screen and (max-width: 800px) {
    .box {
        grid-template-columns: repeat(1, 1fr);
    }
}